.left{
    background-image: url(img-frame);
    background-position: left;
    background-repeat: repeat-y;
}
.right{
    background-image: url(img-frame/left-right.gif);
    background-position: right;
    background-repeat: repeat-y;
}
.bottom{
    background-image: url(img-frame/top-bottom.gif);
    background-position: bottom;
    background-repeat: repeat-x;
}
.top{
    background-image: url(img-frame/top-bottom.gif);
    background-position: top;
    background-repeat: repeat-x;
}
.left-top{
    background-image: url(img-frame/corner_t_l.gif);
    background-position: top left;
    background-repeat: no-repeat;
}
.left-bottom{
    background-image: url(img-frame/corner_b_l.gif);
    background-position: bottom left;
    background-repeat: no-repeat;
}
.right-top{
    background-image: url(img-frame/corner_t_r.gif);
    background-position: top right;
    background-repeat: no-repeat;
}
.right-bottom{
    background-image: url(img-frame/corner_b_r.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.text{
padding: 40.5px;
font-size: 27px;
text-align: center;
}