body{
	margin: 10;
	padding: 0;
	background-color: #4888c3;
	overflow-x:hidden;
	overflow-y:hidden;
  font-family: 'Caveat', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Ubuntu', sans-serif;
}
a{
 color: rgba(117, 9, 9, 0.585);

}
h1{
	padding: 40px;
}
html { overflow-y: scroll; overflow-x:hidden; }