.mane{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.star{
    background-image: url('star0.png');
    width: 75px;
    height: 79px;
}
.star:hover ~ .star{
    background-image: url('star1.png');
}
.star:hover{
    background-image: url('star1.png');
}
